<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anthonyzero.scaffold.custom.mapper.CustomMapper">

    <select id="pageCustom" parameterType="com.anthonyzero.scaffold.custom.dto.CustomInfo" resultType="com.anthonyzero.scaffold.custom.dto.CustomInfo">
        SELECT
            a.custom_id as customId,
            a.fullname as fullname,
            a.phone as phone,
            (select GROUP_CONCAT(demand_type_name) FROM custom_demand_type WHERE custom_id = a.custom_id) as demandTypeName,
            a.sale_user_id as saleUserId,
            c.nickname as saleName,
            d.nickname as receiverName,
            a.`status` as status,
            a.create_time as createTime,
            a.modify_time as modifyTime,
            (select nickname from `user` WHERE user_id = a.modify_user_id) as modifyUserName
        FROM
        custom a
        JOIN custom_demand_type b ON a.custom_id = b.custom_id
        left join user c on a.sale_user_id = c.user_id
        left join user d on a.receiver = d.user_id

        WHERE 1 = 1
        <if test="custom.fullname != null and custom.fullname != ''">
            AND a.fullname like CONCAT('%',#{custom.fullname},'%')
        </if>
        <if test="custom.phone != null and custom.phone != ''">
            AND a.phone like CONCAT('%',#{custom.phone},'%')
        </if>
        <if test="custom.status != null">
            and a.`status` = #{custom.status}
        </if>
        <if test="custom.saleUserId != null">
            and a.sale_user_id = #{custom.saleUserId}
        </if>
        <if test="custom.receiver != null">
            and a.receiver = #{custom.receiver}
        </if>
        <if test="custom.createTimeFrom != null and custom.createTimeFrom !=''">
            And a.create_time &gt;= #{custom.createTimeFrom}
        </if>
        <if test="custom.createTimeTo!= null and custom.createTimeTo !=''">
            And a.create_time &lt;= #{custom.createTimeTo}
        </if>

        GROUP BY a.custom_id
    </select>
</mapper>
