<div class="layui-fluid layui-anim febs-anim" id="custom-page" lay-title="客户信息管理">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="custom-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">创建时间</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="createTime" id="createTime" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">销售人员</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="saleName" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">跟进状态</label>
                                        <div class="layui-input-inline">
                                            <select name="status">
                                                <option value=""></option>
                                                <option value="0">意向客户</option>
                                                <option value="1">服务中</option>
                                                <option value="2">欠费中</option>
                                                <option value="3">服务结束</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">需求类型</label>
                                        <div class="layui-input-inline">
                                            <select name="demandType">
                                                <option value=""></option>
                                                <option value="1">社保挂靠</option>
                                                <option value="2">社保补缴</option>
                                                <option value="3">失业保险代办</option>
                                                <option value="4">生育保险代办</option>
                                                <option value="5">养老保险代办</option>
                                                <option value="6">工伤保险代办</option>
                                                <option value="7">公积金挂靠</option>
                                                <option value="8">公积金补缴</option>
                                                <option value="9">集体落户</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="query" title="搜索">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="reset" title="刷新">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="addCustom" shiro:hasPermission="custom:add" title="添加客户">
                                    <i class="layui-icon">&#xe61f;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="customTable" lay-data="{id: 'customTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="custom-status">
    {{#
    var status = {
    0: {title: '意向客户', color: 'green'},
    1: {title: '服务中', color: 'green'},
    2: {title: '欠费中', color: 'volcano'},
    3: {title: '服务结束', color: 'volcano'}
    }[d.status];
    }}
    <span class="layui-badge febs-tag-{{status.color}}">{{ status.title }}</span>
</script>
<script type="text/html" id="custom-option">
    <span shiro:lacksPermission="custom:view,custom:update,custom:delete">
        <span class="layui-badge-dot febs-bg-orange"></span> 无权限
    </span>
    <a lay-event="detail" shiro:hasPermission="custom:view" title="查看详情"><i
            class="layui-icon febs-edit-area febs-green">&#xe7a5;</i></a>
    <a lay-event="edit" shiro:hasPermission="custom:update" title="修改"><i
            class="layui-icon febs-edit-area febs-blue">&#xe631;</i></a>
    <a lay-event="del" shiro:hasPermission="custom:delete" title="删除"><i
            class="layui-icon febs-edit-area febs-red">&#xe7f9;</i></a>
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['jquery', 'laydate', 'form', 'table', 'febs'], function () {
        var $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,

            $view = $('#custom-page'), //当前页面
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $addCustom = $view.find("#addCustom"),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createTime', type: 'desc'},
            tableIns;

        form.render();

        initTable();

        //日期 选择范围
        laydate.render({
            elem: '#createTime',
            range: true,
            trigger: 'click'
        });


        //表格每行数据操作
        table.on('tool(customTable)', function (obj) {
            var data = obj.data, //每行数据
                layEvent = obj.event;  //定义的事件名称
            if (layEvent === 'detail') {
                febs.navigate("/custom/detail/" + data.customId)
            }
            if (layEvent === 'del') {
                febs.modal.confirm('删除用户', '确定删除该用户？', function () {
                    deleteUsers(data.userId);
                });
            }
            if (layEvent === 'edit') {
                febs.modal.open('修改用户', 'system/user/update/' + data.username, {
                    area: $(window).width() <= 750 ? '90%' : '50%',
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#user-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
            if (layEvent === 'reset') {
                var usernames = [];
                usernames.push(data.username);
                febs.post(ctx + 'user/password/reset/' + usernames.join(','), null, function () {
                    febs.alert.success('所选用户密码已重置为123456');
                });
            }
        });

        // 对应表格sort为true的 点击事件   obj 包含字段名称 和 排序方法desc asc
        table.on('sort(customTable)', function (obj) {
            //{field: "createTime", type: "desc"}
            sortObject = obj;
            tableIns.reload({
                initSort: obj,  //表格sort 字段初始化显示
                where: $.extend(getQueryParams(), { //合并参数
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        $query.on('click', function () {
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({
                where: params,
                page: {
                    curr: 1
                }
            });
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            tableIns.reload({
                where: getQueryParams(),
                page: {
                    curr: 1
                },
                initSort: sortObject
            });
        });
        
        //添加客户
        $addCustom.on('click', function () {
            febs.navigate('/custom/add');
            /*febs.modal.open('新增客户', 'custom/add', {
                btn: ['提交', '重置'],
                area: $(window).width() <= 750 ? '95%' : '50%',
                yes: function (index, layero) {
                    $('#custom-add').find('#submit').trigger('click');
                },
                btn2: function () {
                    $('#custom-add').find('#reset').trigger('click');
                    return false;
                }
            });*/
        })


        /**
         * 初始化表格
         */
        function initTable() {
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'customTable',
                url: ctx + 'custom/page',
                cols: [[
                    {type: 'checkbox'},
                    {field: 'customId', title: '客户编号', minWidth: 100},
                    {field: 'fullname', title: '姓名', minWidth: 100},
                    {field: 'phone', title: '联系电话', minWidth: 165},
                    {field: 'demandTypeName', title: '需求类型', minWidth: 230},
                    {field: 'saleName', title: '销售人员', minWidth: 120},
                    {title: '跟进状态', templet: '#custom-status'}, //templet js脚本转换 翻译
                    {field: 'createTime', title: '创建时间', minWidth: 180, sort: true},
                    {field: 'modifyTime', title: '操作时间', minWidth: 180},
                    {field: 'modifyUserName', title: '操作人', minWidth: 100},
                    {title: '操作', toolbar: '#custom-option', minWidth: 140}
                ]]
            });
        }

        // 获取查询参数
        function getQueryParams() {
            var createTimeFrom,
                createTimeTo,
                createTime = $searchForm.find('input[name="createTime"]').val();
            if (createTime) {
                createTimeFrom = createTime.split(' - ')[0];
                createTimeTo = createTime.split(' - ')[1];
            }
            return {
                createTimeFrom: createTimeFrom, //开始时间begine
                createTimeTo: createTimeTo,  //结束时间end
                saleName: $searchForm.find('input[name="saleName"]').val().trim(),
                status: $searchForm.find("select[name='status']").val(),
                demandType: $searchForm.find("select[name='demandType']").val(),
                invalidate_ie_cache: new Date()
            };
        }
    })
</script>