<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anthonyzero.scaffold.system.mapper.LoginLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.anthonyzero.scaffold.system.entity.LoginLog">
        <id column="log_id" property="logId" />
        <result column="username" property="username" />
        <result column="login_time" property="loginTime" />
        <result column="ip" property="ip" />
        <result column="os" property="os" />
        <result column="browser" property="browser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        log_id, username, login_time, ip, os, browser
    </sql>

    <select id="getTotalVisitCount" resultType="long">
        select count(1) from login_log
    </select>

    <select id="getTodayVisitCount" resultType="long">
        select count(1) from login_log where datediff(login_time,now())=0
    </select>

    <select id="getTodayIpCount" resultType="long">
        select count(distinct(ip)) from login_log where datediff(login_time,now())=0
    </select>

    <select id="getLastDaysVisitCount" resultType="map">
        SELECT
            date_format( t.login_time, '%m-%d' ) days,
            count( 1 ) count
        FROM
            ( SELECT * FROM login_log WHERE date( login_time ) > date_sub( curdate( ), INTERVAL #{interval} DAY ) ) t
        WHERE
            1 = 1
        <if test="username != null and username != ''">
            and t.username = #{username}
        </if>
        GROUP BY
            days
    </select>
</mapper>
