<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anthonyzero.scaffold.system.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.anthonyzero.scaffold.system.entity.Role">
        <id column="role_id" property="roleId" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        role_id, name, description, create_time, modify_time
    </sql>

    <select id="findUserRole" resultMap="BaseResultMap" parameterType="string">
	    SELECT
            r.*
        FROM
            role r
        JOIN user_role ur ON r.role_id = ur.role_id
        JOIN user u ON u.user_id = ur.user_id
        WHERE
            u.username = #{username}
    </select>

    <select id="pageRoles" parameterType="role" resultType="role">
        SELECT
            r.role_id roleId,
            r.NAME,
            r.description,
            r.create_time createTime,
            r.modify_time modifyTime,
            GROUP_CONCAT( rp.permission_id ) permissionIds
        FROM
            role r
            LEFT JOIN role_permission rp ON r.role_id = rp.role_id
        WHERE
            1 = 1
        <if test="role.name != null and role.name != ''">
            AND r.name like CONCAT('%',#{role.name},'%')
        </if>
        GROUP BY
            r.role_id
    </select>
</mapper>
