<div class="layui-fluid layui-anim febs-anim" id="febs-menu" lay-title="菜单管理">
    <div class="layui-row layui-col-space8 febs-container">
        <div class="layui-col-md6 layui-col-sm6 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="menu-table-form" id="menu-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md8 layui-col-sm9 layui-col-xs9">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">名称</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="menuName" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md4 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more"
                                     shiro:hasAnyPermissions="menu:add,menu:delete,menu:export"> <!--有其中一个权限就显示整个action-more图标 具体显示那些需要看dropdown配置-->
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="eleTree menuTree" lay-filter="menuTree" style="margin-left: 1rem"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6 layui-col-sm6 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header" id="form-header">新增菜单</div>
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" action="" lay-filter="menu-form">
                        <div class="layui-form-item febs-hide">
                            <label class="layui-form-label febs-form-item-require">ID：</label>
                            <div class="layui-input-block">
                                <input type="text" name="permissionId" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">上级ID：</label>
                            <div class="layui-input-block">
                                <input type="text" value="" name="parentId" readonly class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label febs-form-item-require">名称：</label>
                            <div class="layui-input-block">
                                <input type="text" name="name" autocomplete="off" class="layui-input"
                                       minlength="2" maxlength="10" lay-verify="range">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label febs-form-item-require">类型：</label>
                            <div class="layui-input-block">
                                <input type="radio" name="type" lay-filter="menu-type" value="0" title="菜单" checked="">
                                <input type="radio" name="type" lay-filter="menu-type" value="1" title="按钮">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">图标：</label>
                            <div class="layui-input-block">
                                <input type="text" name="icon" autocomplete="off" class="layui-input"
                                       maxlength="50" lay-verify="range">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">URL：</label>
                            <div class="layui-input-block">
                                <input type="text" name="url" autocomplete="off" class="layui-input"
                                       maxlength="50" lay-verify="range">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label febs-form-item-require">权限：</label>
                            <div class="layui-input-block">
                                <input type="text" name="perms" autocomplete="off" class="layui-input"
                                       minlength="6" maxlength="50" lay-verify="range">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label febs-form-item-require">排序：</label>
                            <div class="layui-input-block">
                                <input type="text" name="orderNum" autocomplete="off" placeholder="请输入排序数字" class="layui-input"
                                        lay-verify="required|number">
                            </div>
                        </div>
                        <button type="reset" class="layui-btn febs-hide" id="reset-form"></button>
                        <button class="layui-btn febs-hide" lay-submit="" lay-filter="menu-form-submit"
                                id="submit-form"></button>
                    </form>
                </div>
                <div class="layui-card-footer">
                    <button class="layui-btn" id="submit">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdown', 'jquery', 'laydate', 'febs', 'form', 'eleTree', 'validate'], function () {
        var $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            validate = layui.validate,
            eleTree = layui.eleTree,
            dropdown = layui.dropdown,
            $view = $('#febs-menu'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $submit = $view.find('#submit'),
            $searchForm = $view.find('#menu-table-form'),
            $menuName = $searchForm.find('input[name="menuName"]'),
            $type = $view.find('input[type="radio"][name="type"]'),
            $icon = $view.find('input[name="icon"]'),
            $icon_parent = $icon.parents('.layui-form-item'),
            $url = $view.find('input[name="url"]'),
            $url_parent = $url.parents('.layui-form-item'),
            $order = $view.find('input[name="orderNum"]'),
            $order_parent = $order.parents('.layui-form-item'),
            $header = $view.find('#form-header'),
            _currentMenuData,
            _selectNode,
            _menuTree,
            tableIns;

        form.verify(validate);
        form.render();

        //下拉菜单
        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                if (name === 'add') {
                    reset();
                    var selected = _menuTree.getChecked(false, true);
                    if (selected.length > 1) {
                        febs.alert.warn('只能选择一个节点作为父级！');
                        return;
                    }
                    if (selected[0] && selected[0].type === '1') {
                        febs.alert.warn('不能选择按钮作为父级！');
                        return;
                    }
                    form.val("menu-form", {
                        "parentId": selected[0] ? selected[0].id : ''  //没有选择任何节点 就默认为顶级菜单也就是第一级菜单 后台会赋值为0
                    });
                }
                if (name === 'delete') {
                    var checked = _menuTree.getChecked(false, true);
                    if (checked.length < 1) {
                        febs.alert.warn('请勾选需要删除的菜单或按钮');
                        return;
                    }
                    var permissionIds = [];
                    layui.each(checked, function (key, item) {
                        permissionIds.push(item.id)
                    });
                    febs.modal.confirm('提示', '当您点击确定按钮后，这些记录将会被彻底删除，如果其包含子记录，也将一并删除！', function () {
                        febs.get(ctx + 'menu/delete/' + permissionIds.join(','), null, function () {
                            febs.alert.success('删除成功！');
                            reloadMenuTree();
                            reset();
                        })
                    });
                }
                if (name === 'export') {
                    febs.download(ctx + 'menu/excel', {
                        "menuName": $menuName.val().trim()
                    }, '菜单信息表.xlsx');
                }
            },  //下拉选择配置
            options: [{
                name: 'add',
                title: '新增权限',
                perms: 'menu:add'
            }, {
                name: 'delete',
                title: '删除权限',
                perms: 'menu:delete'  //代表需要该权限 显示
            }, {
                name: 'export',
                title: '导出Excel',
                perms: 'menu:export'
            }]
        });

        _menuTree = renderMenuTree();

        //树的节点选择事件  用于修改
        eleTree.on("nodeClick(menuTree)", function (d) {
            var data = d.data.currentData.data;
            _currentMenuData = data;
            $type.attr("disabled", true);
            var type = data.type;
            handleTypeChange(type);
            if (type === '0') { // 菜单
                $header.text('修改菜单');
            } else { // 按钮
                $header.text('修改按钮');
            }
            console.log(data);
            form.val("menu-form", {
                "icon": data.icon,
                "url": data.url,
                "orderNum": data.orderNum,
                "type": data.type,
                "name": data.name,
                "perms": data.perms,
                "parentId": data.parentId,
                "permissionId": data.permissionId
            });
        });

        //单选 选择权限类型 菜单还是按钮的时候 触发
        form.on("radio(menu-type)", function (data) {
            handleTypeChange(data.value);
        });

        //重置树
        $reset.on('click', function () {
            $menuName.val('');
            reloadMenuTree();
            reset();
        });

        //查询树
        $query.on('click', function () {
            reloadMenuTree();
            reset();
        });

        //触发表单提交
        $submit.on('click', function () {
            $view.find('#submit-form').trigger('click');
        });

        $icon.focus(function () {
            febs.modal.open('图标选择', 'other/icon', {
                btn: ['确定'],
                yes: function () {
                    var icon = $('#febs-icon').find('.icon-active .icon-name').text();
                    if (icon) {
                        form.val("menu-form", {
                            "icon": 'layui-icon-' + icon
                        });
                    } else {
                        form.val("menu-form", {
                            "icon": ''
                        });
                    }
                    layer.closeAll();
                }
            });
        });

        function reset() {
            $view.find('#reset-form').trigger('click'); //树支点信息 右边表单 重置数据
            handleTypeChange('0');
            $type.removeAttr("disabled");
        }

        /**
         * 加载权限树
         * @returns {*}
         */
        function renderMenuTree() {
            _menuTree = eleTree.render({
                elem: '.menuTree',   //div节点
                url: ctx + 'menu/tree',
                where: {
                    "menuName": $menuName.val().trim(),
                    "invalidate_ie_cache": new Date()
                },
                accordion: true,
                highlightCurrent: true,
                showCheckbox: true,
                checkStrictly: true,
                renderAfterExpand: false,
                request: {
                    name: "title",  //选择响应数据各字段
                    key: "id",
                    children: "childs",
                    checked: "checked",
                    data: "data"
                },
                response: {
                    statusName: "code",
                    statusCode: 0, //正常成功响应 0
                    dataName: "data"
                }
            });
            return _menuTree;
        }

        /**
         * 重新加载权限树
         */
        function reloadMenuTree() {
            _menuTree = renderMenuTree();
        }

        /**
         * 处理新增按钮或者菜单
         * @param type
         */
        var handleTypeChange = function (type) {
            form.val("menu-form", {
                "icon": '',
                "url": '',
                "orderNum": ''
            });
            if (type === '1') {
                $header.text('新增按钮');
                $icon_parent.hide();
                $url_parent.hide();
                /*$order_parent.hide();*/
            } else {
                $header.text('新增菜单');
                $icon_parent.show();
                $url_parent.show();
                /*$order_parent.show();*/
            }
        };

        form.on('submit(menu-form-submit)', function (data) {
            if (data.field.permissionId && $header.text().indexOf('修改') !== -1) {  //修改树支点信息
                if (febs.nativeEqual(data.field, _currentMenuData)) {
                    febs.alert.warn('数据未作任何修改！');
                    return false;
                }
                febs.post(ctx + 'menu/update', data.field, function () {
                    febs.alert.success('修改成功');
                    reloadMenuTree();
                    reset();
                })
            } else {
                febs.post(ctx + 'menu/add', data.field, function () {
                    febs.alert.success('新增成功');
                    reloadMenuTree();
                    reset();
                })
            }
            return false;
        });
    });
</script>